*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* .field{

} */

/* .subscribe {

} */

h1 {
    font-weight: 700;
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 40px;
}

h2{
    font-weight: 900;
    font-size: 26px;   
    color: white;
}

h3{
    font-weight: 500;
    font-size: 26px;
    color: #031D5B;
    text-align: center;
}

h4{
    font-weight: 500;
    font-size: 18px;
    color: #031D5B;
}

h5{
    font-weight: 500;
    font-size: 16px;
    color: white;
    line-height: 32px;
}

h6{
    font-weight: 500;
    font-size: 16px;
}

p{
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #5B6C94;
}

nav{
    font-weight: 700;
    font-size: 16px;
    color: white;
}

a{
    text-decoration: none;
    color: inherit
}

article{
    text-align: center;
}

.left{
    text-align: left;
}

.topmargin{
    margin-top: 71px;
}

.subtitlebanner{
    text-align: center;
    margin-top: 20px;
}

#Benefit{
    width: 83%;
    border: 3px black;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: -64px;
    border-radius: 20px;
    position: relative;
    margin: auto;
    padding: 60px 20px 71px 20px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}

 #Pricing{
    position: relative;
    text-align: center;
 }

.imgtitle{
    margin-bottom: 60px;
}

.underline{
    max-width: 4rem;
    padding-bottom: 20px;
    border-bottom: 5px solid coral;
    margin-bottom: 30px;
    text-align: left;
}

.center{
    text-align: center;
}

.subscribe{
    text-align: center;
}

.side30{
    padding-right: 30px;
    padding-left: 30px;
}

.rose{
    color: #F8765E;
    margin-left: 20px;
    margin-right: 20px;
}

.white{
    color: rgb(255, 255, 255);
}

.gray{
    color: #CDCDCD;
    margin-top: 43px;
}

header{
    background-color: #F8765E;
    align-items: center;
    text-align: center;
}

.imgbanner {
    margin-bottom: 30px;
}

.textbanner > form{
    padding-bottom: 70px;
}


footer{
    background-color: #F8765E;
    height: 164px;
    position: relative;
}

a {
    margin: 19px;
}

.brand{
    height: 77px;
    background-color: #F8765E;
    padding: 44px 19px;
}

.topnav{
    padding-top: 20px;
    padding-bottom: 65px;
/*      margin-top: -56px;
        padding-top: none;*/
}

.bottomnav{
    padding-top: 30px;
    position: relative;
}

.copyright{
    padding-top: 38px;
}

footer {
    text-align: center;
    height: 164px;
}

button{
    width: 168px;
    height: 60px;
    align-content: center;
    border-radius: 20px;
    border-style: none;
    margin: 22px 0 100px 0;
    background-color: #9BDBE7;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}

.banner{
/*  display:flex;
    flex-direction: column; */
    background-color: #F8765E;
    text-align: center;
    padding: 0 30px;
}

input{
    height: 60px;
    width: 335px;
    border-style: none;
    border-radius: 20px;
    text-align: left;
    padding-left: 20px;
    margin-top: 41px;
    box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.2);
}

::placeholder{
    font-weight: 700;
    font-size: 17px;
    color: #CDCDCD;
}

.textpricing{
    margin-top: 34px;
    margin-bottom: 54px;
}

.mockuporange{
    max-width: 70%;
    margin-top: 36px;
    margin-bottom: 68px;
}

.comillas{
    width: 165px;
    height: 165px;
    background-image: url(./imgs/comillas-gr.png);
    background-position: initial;
    background-size: 165px;
    background-repeat: no-repeat;
    padding-right: 36px;
    padding-left: 10px;
    padding-top: 25px;
}

.orangebox{
    width: 330px;
    height: 660px;
    background-color: #F8765E;
    border-radius: 20px;
    position: absolute;
    top: 111px;
    margin: 10px 75px;
    z-index: -1;
}

.bluebox{
    width: 300px;
    height: 400px;
    background-color: #9BDBE7;
    box-shadow: 12px 12px 40px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    padding: 152px 50px 0 50px;
    position: relative;
    top: 70px;
    margin: 10px 30px 280px 30px;
}

.whitebox{
    width: 300px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    box-shadow: 12px 12px 40px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    padding: 152px 5px 0 50px;
   display: inline-block;
   position: absolute;
   top: 245px;
   left: 350px;
}

.graydark{
    color: #3F3F3F;
}

.graymid{
    color: #7C7C7C;
}

.comillawhite{
    position: absolute;
    top: 80px;
/*     margin-bottom: 70px;
 */}

.ilove{
    width: auto;
    height: auto;
    line-height: 36px;
    margin: 0px 50px 101px 0px;
}

#Testimonials{
    position: relative;
}


@media (min-width: 850px) {
    header{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-right: 8%;
        padding-left: 8%;
    }

    .brand{
        padding-top: 0px;
    }

    .none{
        display: none;
    }

    /* 
    .topnav{
        display: inline;
        text-align: right;
    } */


    .banner{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 11%;
/*         width: 78%;
 */    }

    .textbanner > h1{
        padding-top: 100px;
        font-size: 48px;
        line-height: 60px;
        text-align: left;
}

    .imgbanner{
        width: 40%;
    }

    .textbanner > h5{
        text-align: left;
    }

    .textbanner{
        max-width: 50%;
    }

    article{
        max-width: 33%;
        display: inline-block;
        padding: 0px 20px;
        margin-top: 0px;
/*      margin: 0 10px;
 */
    }

    .topmargin{
        margin-top: 0px;
    }

    .textbanner > form{
        margin-bottom: 60px; 
        text-align: left;       
    }

    .subtitlebanner{
        margin-bottom: 20px;
    }

    #benefit{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: justify;
        align-items: justify;
        padding: 0px 60px 0px 71px;
    }

    #Pricing{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 70px 8% 200px 8%;
    }

    .sectionprice{
        text-align: right;
        padding: 0px;
        max-width: 50%;
    }

    
    .textprice{
        /*   padding-top: 100px; */
        /*  font-size: 48px; */
        /*    line-height: 60px; */
        text-align: right;
    }

    .sectionprice > h1{
        padding-top: 100px;
        font-size: 48px;
        margin-right: 0px;
    }

    .sectionprice > h3{
        font-size: 34px;
        line-height: 45px;
        margin-right: 0px;
    }

    .sectionprice > p{
        margin-right: 0px;
    }

    .side30{
        display: unset;
    }
    
    .center{
        text-align: right;
    }

    .mockuporange{
        max-width: 38%;
    }
      
    .orangebox{
        width: 810px;
        height: 950px;
        background-color: #F8765E;
        border-radius: 20px;
        position: absolute;
        top: 111px;
        margin: -160px 0 10px 46%;
        z-index: -1;
    }

    .comillas{
        width: 378px;
        height: 413px;
        background-size: 378px;
        margin: 25px 0px 0px 8%;
    }
    
    #Testimonials h5{
        font-size: 40px;
        line-height: 48px;
        padding-left: 25px;
        padding-top: 46px;
    }

    .bluebox{
        width: 420px;
        height: 500px;
        position: relative;
        top: 70px;
        margin: -290px 30px 280px 30%;
    }

    .ilove{
        width: auto;
        height: auto;
        line-height: 36px;
        margin: 0px 50px 170px 0px;
    }

    .whitebox{
        width: 420px;
        height: 500px;
        position: absolute;
        top: 193px;
        left: 850px;    
    }

    .subscribe > h1{
        margin-top: 400px;
        font-size: 48px;
        line-height: 60px;
    }

    .subscribe > h3{
        margin-top: 38px;
        margin-bottom: 20px;
        font-size: 34px;
        line-height: 45px;
    }    

    
    input{
        margin: 0px 7px 0px 0px;
    }
    
    .field > .subscribe{
        margin: 0px 0px 0px 7px;
    }
    
    .subscribe > .field{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 70px 0 140px 0;

    }


}